.menu-toggle {
  display: block; 
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #b71c1c;
  margin: 3px 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #f9f9f9;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

nav.open {
  transform: translateX(0);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

nav ul li {
  margin: 1rem 0;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  min-width: 320px; 
  max-height: 10px;
}

.menu-text {
  font-size: 10px; 
}


.second-header {
  display: none; 
  max-height: 10px;
}

@media (min-width: 569px) {
  .second-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    background-color: #b71c1c;
    max-height: 10px;
    
    
  }
 .header{
    align-items: center;
    margin-left: -1000px;
    
 }
 .title {
  text-align: center;
  position: relative;
  top: 0.2em;

}

.small-text {
  position: absolute;
  top: -0.6em;
 
  transform: translateX(-50%);
  font-size: 0.5em;
}
 
  .search-icon {
    margin-right: 1rem;
    font-size: 1.5rem;
    color: black; 
  }

  .tablet-screen-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .tablet-screen-nav ul li {
    margin-left: 1rem;
  }

  .tablet-screen-nav ul li a {
    color: black;
    text-decoration: none;
  }
}

@media (max-width: 568px) {
  .bar {
    width: 25px;
    height: 3px;
    background-color: red;
    margin: 3px 0;
    max-height: 10px;
  }
  .title {
    text-align: center;
    position: relative;
    top: 0.2em;

  }
  
  .small-text {
    position: absolute;
    top: -0.5em;
    left: 37%;
    transform: translateX(-50%);
    font-size: 0.5em;
  }
  nav {
    width: 100%; 
    max-width: 250px; 
    transform: translateX(-100%);
  }

  nav.open {
    transform: translateX(0);
  }

  nav ul {
    margin: 1rem 0; 
  }

  nav ul li {
    margin: 0.5rem 0; 
  }
}
.second-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  background-color: #b71c1c;
}

.search-icon {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: black; 
}

.tablet-screen-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.tablet-screen-nav ul li {
  margin-left: 1rem;
}

.tablet-screen-nav ul li a {
  color: black;
  text-decoration: none;
}
.header h1 {
  text-align: center;
  margin: 0; 
  flex-grow: 1; 
  
}
